html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: white;
}

.room-veiwer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: lightgray;
    z-index: 1;
}

.room-header {
    padding-left: 10px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.room-header .new-room-button {
    margin: 0 5px;
}

.room-title {
    display: inline-block;
    padding-right: 15px;
}

.room-veiwer .room-name {
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.room-veiwer .room-name:hover {
    cursor: pointer;
}

.chat {
    position: fixed;
    top: 0px;
    left: 250px;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    overflow: scroll;
}


.messages {
    padding-right: 10px;
}

.messages .user {
    font-weight: bold;
}

.messages .time {
    float: right;
    padding-right: 100px;
}

.messages .user .msg {
    display: inline-block;
}

.messages .msg {
    padding-top: 1px;
    padding-bottom: 2px;
    display: inline-block;
}

.chat {
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;
}

.modal {
  position: fixed;
  right: 75%;
  z-index: 1;
}
