<section class="room-veiwer">
  <div class="room-header"
    <h1 class="room-title">Bloc Chat</h1>
    <button class="new-room-button" type="button" ng-click="home.addRoom()">New Room</button>
  </div>
    <div class="room-body" ng-repeat="room in home.rooms">
        <p class="room-name" ng-click="home.setRoom(room)">{{ room.$value }}</p>
    </div>
</section>

<section class="chat">
    <h3>{{ home.currentRoom.name }}</h3>

    <div class="messages" ng-repeat="message in home.currentMessages">
        <p class="user">{{ message.username }}</p>
        <p class="msg">{{ message.content }}</p>
        <p class="time">{{ message.sentAt }}</p>
    </div>
</section>
